<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

  <table>
    <tr>
      <th><%= sortable "Name" %></th>
      <th><%= sortable "Vorname" %></th>
      <th><%= sortable "Status" %></th>
      <th><%= sortable "Geb. Datum" %></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <% if user_admin? == true %>
          <th></th>
      <% end %>
    </tr>

    <% @clients.each do |client| %>
        <tr>
          <td><%= client.name %></td>
          <td><%= client.first_name %></td>
          <% if client.state != nil %>
              <td><%= client.state.condition %></td>
          <% else %>
              <td></td>
          <% end %>
          <td><%= client.birthday %></td>
          <td><%= link_to 'Neues Ereignis', add_event_to_client_path(client) %></td>

          <td><%= link_to 'Ereignisse des Klienten', events_to_client_path(client) %></td>
          <td><%= link_to 'Daten Anzeigen', client %></td>
          <td><%= link_to 'Daten Bearbeiten', edit_client_path(client) %></td>
          <% if user_admin? == true %>
              <td><%= link_to 'Löschen', client, method: :delete, data: {confirm: 'Sind Sie sich sicher?'} %></td>
          <% end %>
        </tr>
    <% end %>
  </table>