<h1>Klientenverwaltung</h1>


<div id="search" style="text-align: left;">
<%= form_tag clients_path, :method => 'get', :id => "clients_search" do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Suchen", :name => nil %>

      <span style="margin-left: 50px;"><%= link_to 'Klient anlegen', new_client_path %> </span>
    </p>
<% end %>
</div>

  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>

  <table>
    <tr>
      <th><%= sortable "name", "Name" %></th>
      <th><%= sortable "first_name", "Vorname" %></th>
      <th><%= sortable "state", "Status" %></th>
      <th><%= sortable "birthday", "Geb. Datum" %></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <% if user_admin? == true %>
          <th></th>
      <% end %>
    </tr>

    <% @clients.each do |client| %>
        <tr>
          <td><%= client.name %></td>
          <td><%= client.first_name %></td>
          <% if client.state != nil %>
              <td><%= client.state.condition %></td>
          <% else %>
              <td></td>
          <% end %>
          <td><%= client.birthday %></td>
          <td><%= link_to 'Neues Ereignis', add_event_to_client_path(client) %></td>

          <td><%= link_to 'Ereignisse des Klienten', events_to_client_path(client) %></td>
          <td><%= link_to 'Daten Anzeigen', client %></td>
          <td><%= link_to 'Daten Bearbeiten', edit_client_path(client) %></td>
          <% if user_admin? == true %>
              <td><%= link_to 'Löschen', client, method: :delete, data: {confirm: 'Sind Sie sich sicher?'} %></td>
          <% end %>
        </tr>
    <% end %>
  </table>

<br/>
<%= will_paginate @clients %>


