<h1>Listing emails_of_clients</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Client</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @emails_of_clients.each do |emails_of_client| %>
  <tr>
    <td><%= emails_of_client.email %></td>
    <td><%= emails_of_client.client_id %></td>
    <td><%= link_to 'Show', emails_of_client %></td>
    <td><%= link_to 'Edit', edit_emails_of_client_path(emails_of_client) %></td>
    <td><%= link_to 'Destroy', emails_of_client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Emails of client', new_emails_of_client_path %>
