<!DOCTYPE html>
<html>
<head>
  <title>Lumia</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="doc" class="yui-t1">
  <div id="hd">
    <div id="header"><h1>Lumia</h1></div>
  </div>
  <div id="bd">
    <div id="yui-main">
      <div class="yui-b">
        <div class="content">
          <div id="site">
          <%= yield %>
        </div>
        </div>
      </div>
    </div>
    <div class="yui-b">
      <div id="secondary">
        <p style="font-size: 150%;">
          Navigation
        </p>
          <p style="margin-top: 20px;">
          <%= link_to 'Klientenverwaltung', clients_path %>
        </p>
        <p>
          <%= link_to 'Ansprechpartner', contact_partners_path %>
        </p>

        <% if user_admin? == true %>
              <p>
              <%= link_to 'Adminmenü', pages_admin_menu_path %>
            </p>
        <% end %>
        <p style="margin-top: 50px;"><%= @back%></p>
      </div>
    </div>
  </div>
  <div id="ft">
    <div id="footer"><p style="margin-left: 20px;">
      <%= link_to "Abmelden", logout_path, method: :delete %>
    </p></div>
  </div>
</div>




</body>
</html>